---
import StackedCardWrapper from '@components/cards/StackedCardWrapper.astro'
import { campaignCategorySelect } from 'cms/utils/campaignCategorySelect'
import CampaignCardPromoted from './CampaignCardPromoted.astro'
import CampaignListItem from './CampaignListItem.astro'
import type { Campaign } from './types'

type Props = {
  /** @desc `Beispiel CATEGORY` where `CATEGORY` will be replaced */
  headlineTemplate: string
  campaigns: Campaign[]
  showEmptyCategories: boolean
}
const { headlineTemplate, campaigns, showEmptyCategories } = Astro.props

// The order in `campaignCategorySelect` specifies the order that we display the results in
const groupedCampaigns = new Map<Campaign['data']['category'], Campaign[]>()
campaignCategorySelect.forEach(({ value: key }) => {
  const value = campaigns.filter((c) => c.data.category === key)
  groupedCampaigns.set(key as Campaign['data']['category'], value)
})
// sortedCampaigns.forEach((campaign) => {
//   const key = campaign.data.category
//   const value = [...(groupedCampaigns.get(key) || []), campaign.data]
//   groupedCampaigns.set(key, value)
// })
---

{
  Array.from(groupedCampaigns.entries()).map(([categoryKey, categoryCampaigns]) => {
    const label = campaignCategorySelect.find((c) => c.value === categoryKey)?.label
    const headline = headlineTemplate.replace('CATEGORY', label || 'UNKOWN')

    if (categoryCampaigns.length === 0 && !showEmptyCategories) {
      return null
    }

    return (
      <>
        <StackedCardWrapper headline={headline} sectionClasses="mt-12">
          {categoryCampaigns.length === 0 && (
            <p class="col-span-2">
              <code>TODO</code> Kampagnen für diese Kategorie sind geplant.
            </p>
          )}

          {categoryCampaigns
            .filter((campaign) => campaign.data.visibility === 'promote')
            .map((campaign) => (
              <CampaignCardPromoted campaign={campaign} />
            ))}
        </StackedCardWrapper>

        <ul class="mb-0 pl-0">
          {categoryCampaigns
            .filter(
              (campaign) =>
                campaign.data.visibility !== 'promote' &&
                campaign.data.maprouletteChallenge.enabled === true,
            )
            .map((campaign) => (
              <li class="list-none">
                <CampaignListItem campaign={campaign} />
              </li>
            ))}
          {categoryCampaigns
            .filter(
              (campaign) =>
                campaign.data.visibility !== 'promote' &&
                campaign.data.maprouletteChallenge.enabled === false,
            )
            .map((campaign) => (
              <li class="list-none text-gray-400">
                <CampaignListItem campaign={campaign} disabled={true} />
              </li>
            ))}
        </ul>
      </>
    )
  })
}
