---
import PageHeadline from '@components/text/PageHeadline.astro'
import LayoutArticlePageAstro from '@layouts/LayoutArticlePageAstro.astro'
import { getCollection } from 'astro:content'

const allPosts = await getCollection('posts', (post) => new Date(post.data.pubDate) <= new Date())
const sortedPosts = allPosts.sort(
  (postA, postB) => new Date(postB.data.pubDate).valueOf() - new Date(postA.data.pubDate).valueOf(),
)
---

<LayoutArticlePageAstro title="Alle Neuigkeiten" noindex={true}>
  <PageHeadline
    category={undefined}
    headline="Neuigkeiten"
    intro="Übersicht der Neuigkeiten zu Änderungen und Ankündigungen auf radinfra.de"
  />

  <table class="table">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Artikel ({sortedPosts.length})</th>
        <th>Autor</th>
      </tr>
    </thead>
    <tbody>
      {
        sortedPosts.map((post) => {
          return (
            <tr>
              <td class="flex flex-none whitespace-nowrap text-teal-100">
                {new Date(post.data.pubDate).toLocaleDateString('en-CA')}
              </td>
              <td>
                <a href={`/posts/${post.id}`}>{post.data.title}</a>
              </td>
              <td class="leading-tight">{post.data.author}</td>
            </tr>
          )
        })
      }
    </tbody>
  </table>
</LayoutArticlePageAstro>
