---
export const prerender = true
//
import { linkStyles } from '@components/Link/Link'
import { LinkExternal } from '@components/Link/LinkExternal'
import { maprouletteChallengeUrl } from '@components/Link/maprouletteChallengeUrl'
import MegaButton from '@components/Link/MegaButton.astro'
import { CampaignStatistic } from '@components/page_kampagne/CampaignStatistic'
import Markdown from '@components/text/Markdown.astro'
import PageHeadline from '@components/text/PageHeadline.astro'
import ProseSection from '@components/text/ProseSection.astro'
import LayoutArticlePageAstro from '@layouts/LayoutArticlePageAstro.astro'
import { type CollectionEntry, getCollection } from 'astro:content'
import { twJoin } from 'tailwind-merge'

export async function getStaticPaths() {
  const campaigns = await getCollection('campaigns')
  return campaigns.map((campaign) => ({
    params: { slug: campaign.id.replace('/index', '') },
    props: campaign,
  }))
}
type Props = CollectionEntry<'campaigns'>

const page = Astro.props
// NOTE:
//   We cannot use the Keystatic<>Astro content integration
//   https://github.com/Thinkmill/keystatic/discussions/1318
//   ~`const { Content } = await render(page)`~

// const relatedCampaigns = await getCollection('campaigns', ({ data }) => {
//   return data.category === page.data.category
// })

const maprouletteUrl =
  page.data.maprouletteChallenge.discriminant === true
    ? maprouletteChallengeUrl(page.data.maprouletteChallenge.value.id)
    : undefined

const noindex =
  maprouletteUrl === undefined ||
  page.data.visibility == 'hidden' ||
  (page.data.maprouletteChallenge.discriminant === true &&
    page.data.maprouletteChallenge?.value?.enabled === false)
---

<LayoutArticlePageAstro title={page.data.name} {...page.data} noindex={noindex}>
  <PageHeadline category="Kampagnen" headline={page.data.name} intro={page.data.description} />

  <ProseSection classes="mb-0">
    <h2>Aufgabe</h2>
    <Markdown markdown={page.data.task} unstyled={true} />

    <h2>Mitmachen</h2>
    <div>
      {
        page.data.mapUrl ? (
          <>
            <MegaButton
              href={page.data.mapUrl}
              iconKey="map"
              label="Zur Karte"
              subline="Finde Aufgaben in deiner Region."
              className="mt-3"
            />

            <details class="prose-sm mt-2" open>
              <summary class={twJoin('cursor-pointer font-bold', linkStyles)}>
                Kurzanleitung
              </summary>
              {page.data.maprouletteChallenge.discriminant === true ? (
                <>
                  <ol>
                    <li>
                      In der Karte einen <strong>Weg auswählen</strong>
                    </li>
                    <li>
                      Rechts den Button zum <strong>Bearbeiten</strong> verwenden
                    </li>
                    <li>
                      Tipp: Die Aufgabenbeschreibung enthält hilfreiche Links zu{' '}
                      <strong>Straßenfotos</strong> bei Mapillary
                    </li>
                    <li>
                      Die Aufgabe <strong>im iD Editor bearbeiten</strong> und Änderungen in OSM
                      speichern
                    </li>
                    <li>
                      In <strong>MapRoulette</strong>: Zum Abschluss die Aufgabe als erledigt (oder
                      eine andere Option) markieren
                    </li>
                  </ol>
                  <p>Deine Änderungen sind am nächsten Tag in der Karte zu sehen.</p>
                </>
              ) : (
                <ol>
                  {/* TODO Anleitung für Nicht-MR-Kampagnen */}
                  <li />
                </ol>
              )}
            </details>
          </>
        ) : null
      }
    </div>
    {
      maprouletteUrl && (
        <ProseSection classes="mt-12 mb-0">
          Alternativ kannst du
          <LinkExternal href={maprouletteUrl}>die Kampagne über MapRoulette.com</LinkExternal>{' '}
          bearbeiten.
          <details class="prose-sm mt-2">
            <summary class={twJoin('cursor-pointer font-bold', linkStyles)}>Kurzanleitung</summary>
            <ol>
              <li>Bei MapRoulette mit OSM anmelden</li>
              <li>Eine konkrete Aufgabe auswählen oder "Start" klicken</li>
              <li>Tipp: Die Aufgabenbeschreibung enthält hilfreiche Links zu Mapillary und Co</li>
              <li>Die Aufgabe im iD Editor oder JOSM bearbeiten und Änderungen in OSM speichern</li>
              <li>Zum Abschluss die Aufgabe als erledigt (oder eine andere Option) speichern</li>
            </ol>
          </details>
        </ProseSection>
      )
    }
  </ProseSection>

  {
    page.data.maprouletteChallenge.discriminant === true &&
      page.data.maprouletteChallenge.value.id && (
        <ProseSection classes="mt-12 mb-0">
          <CampaignStatistic challengeId={page.data.maprouletteChallenge.value.id} client:idle />
        </ProseSection>
      )
  }

  <!-- Disabled for not, this needs a different design first -->
  <!-- {
    relatedCampaigns.length > 0 && (
      <CampaignCards
        headlineTemplate="Weitere Kampagnen zu »CATEGORY«"
        campaigns={relatedCampaigns}
        showEmptyCategories={false}
      />
    )
  } -->

  <ProseSection classes="prose-sm mt-12">
    <h2>Metadaten</h2>
    <ul>
      <li>
        Diese Kampagne basiert auf Prozessierung im Projekt{' '}
        <a target="_blank" href="https://radverkehrsatlas.de"> radverkehrsatlas.de </a>
        .
      </li>
      <li>
        <a
          target="_blank"
          href="https://github.com/FixMyBerlin/atlas-app/blob/develop/processing/topics/roads_bikelanes/bikelanes/BikelaneTodos.lua"
        >
          Der Quellcode ist auf Github
        </a>
        .
      </li>
      {
        page.data.maprouletteChallenge.discriminant === true &&
          page.data.maprouletteChallenge.value.resultsLimited && (
            <>
              <li>
                <strong>Diese Kampagne ist künstlich limitiert auf 40.000 Aufgaben</strong>, da
                MapRoulette sonst nicht funktioniert. Das bedeutet, wenn Aufgaben erledigt wurden
                und die Kampage aktualisiert wird, werden neue Aufgaben nachkommen. Zumindest
                solange, bis wir uns unter die 40k gearbeitet haben.
              </li>
            </>
          )
      }
      {
        page.data.maprouletteChallenge.discriminant === true &&
          page.data.maprouletteChallenge.value.remoteGeoJson && (
            <>
              <li>
                MapRoulette Daten:{' '}
                <a
                  href={`${page.data.maprouletteChallenge.value.remoteGeoJson}?download=true`}
                  download
                  target="_blank"
                >
                  GeoJSON-Datei
                </a>{' '}
                (Newline-delimited GeoJSON)
              </li>
            </>
          )
      }
      {
        page.data.maprouletteChallenge.discriminant === true &&
          page.data.maprouletteChallenge.value.rebuildAt && (
            <>
              <li>
                Die Aufgaben in MapRoulette wurden zuletzt am{' '}
                {page.data.maprouletteChallenge.value.rebuildAt.toLocaleString('de-DE')}{' '}
                aktualisiert.
              </li>
            </>
          )
      }
      {
        page.data.maprouletteChallenge.discriminant === true &&
          page.data.maprouletteChallenge.value.checkinSource && (
            <li>
              {/* TODO: Change this link to use the tags, not the source. Or change the source per campaign to be unique. */}
              OSMCha:{' '}
              <a
                href={`https://osmcha.org/?filters={"date__gte":[{"label":"2024-09-01","value":"2024-09-01"}],"source":[{"label":"${page.data.maprouletteChallenge.value.checkinSource}","value":"${page.data.maprouletteChallenge.value.checkinSource}"}]}`}
                target="_blank"
              >
                Changesets mit dem Tag
                <code>{page.data.maprouletteChallenge.value.checkinSource}</code>
              </a>
            </li>
          )
      }
    </ul>
  </ProseSection>
</LayoutArticlePageAstro>
