---
import CampaignCards from '@components/page_kampagne/CampaignCards.astro'
import { CampaignLeaderboard } from '@components/page_kampagne/CampaignLeaderboard'
import PageHeadline from '@components/text/PageHeadline.astro'
import ProseSection from '@components/text/ProseSection.astro'
import { EyeIcon } from '@heroicons/react/24/solid'
import LayoutArticlePageAstro from '@layouts/LayoutArticlePageAstro.astro'
import { getCollection } from 'astro:content'
import { ASTRO_ENV } from 'astro:env/client'

const localCampaigns = await getCollection('localCampaigns')
const remoteCampaigns = await getCollection('remoteCampaigns')
const allCampaigns = [...localCampaigns, ...remoteCampaigns]

const sortedCampaigns = allCampaigns
  .filter(({ data }) => {
    return data.visibility !== 'hidden'
  })
  .sort((postA, postB) => {
    return new Date(postB.data.pubDate).valueOf() - new Date(postA.data.pubDate).valueOf()
  })
const hiddenCampaigns = allCampaigns.filter((c) => !sortedCampaigns.map((c) => c.id).includes(c.id))
---

<LayoutArticlePageAstro title="Kampagnen zur Verbesserung der Radinfrastrukturdaten">
  <PageHeadline
    category={undefined}
    headline="Kampagnen"
    intro="Überall in Deutschland können wir die Daten noch besser machen. Diese Kampagnen helfen euch Verbesserungspotential zu finden."
  />

  <ProseSection classes="mb-12">
    <p>
      Diese Daten stammen aus dem <a href="https://radverkehrsatlas.de/" target="_blank">
        Projekt Radverkehrsatlas
      </a> von FixMyCity.
    </p>
  </ProseSection>

  <ProseSection highlight classes="prose-green my-12 flex gap-3">
    <EyeIcon className="prose-green size-8 text-green-800" />
    <div>
      <p>Alle Kampagnen setzen voraus, dass du dich mit OpenStreetMap auskennst.</p>
      <p><a href="/mitmachen">Es gibt viele Wege, mitzuhelfen…</a></p>
    </div>
  </ProseSection>

  <CampaignCards
    headlineTemplate="Kampagnen zu »CATEGORY«"
    campaigns={sortedCampaigns}
    showEmptyCategories={true}
  />

  {
    ASTRO_ENV === 'development' && (
      <div class="mt-12 bg-red-300 p-2">
        <h2>Kampagnen die oben nicht aufgelistet werden</h2>
        <ul>
          {hiddenCampaigns.map((campaign) => {
            return (
              <li>
                <a href={`/kampagnen/${campaign.id}`}>{campaign.data.title}</a>
              </li>
            )
          })}
        </ul>
      </div>
    )
  }

  <ProseSection classes="mt-18">
    <hr />
    <CampaignLeaderboard client:only="react" />
  </ProseSection>
</LayoutArticlePageAstro>
