---
import { type CollectionEntry } from 'astro:content'
import { twJoin } from 'tailwind-merge'
import LayoutArticle from './LayoutArticle.astro'
import { proseBase, proseHeadings } from './baseStyles'
import PageHeadline from '@components/text/PageHeadline.astro'

export type Props = CollectionEntry<'posts'>['data']

const { title, noindex, language, pubDate, updatedDate, author } = Astro.props
---

<LayoutArticle title={title} noindex={noindex}>
  <article class={twJoin(proseBase, 'max-w-prose', proseHeadings)} lang={language}>
    <PageHeadline category="Neuigkeiten" headline={title}>
      <p class="lead">
        <time datetime={pubDate.toISOString()}>{pubDate.toLocaleDateString('de-DE')} </time>
        {
          updatedDate && (
            <>
              &bull;{' '}
              <time datetime={updatedDate.toISOString()}>
                {updatedDate.toLocaleDateString('de-DE')}
              </time>
            </>
          )
        }
        &bull;
        {author}
      </p></PageHeadline
    >

    <slot />
  </article>
</LayoutArticle>
